@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:target {
	scroll-margin-top: 100px;
}

@layer components {
	.form-input {
		@apply w-full px-4 py-2 border border-gray-200 rounded-lg focus:ring-2 
      focus:ring-blue-500 focus:border-transparent transition-all duration-200;
	}

	.btn-primary {
		@apply bg-gradient-to-r from-blue-500 to-blue-600 
      text-white py-2 px-4 rounded-lg hover:from-blue-600 
      hover:to-blue-700 transition-all duration-200 shadow-sm;
	}
}
